[Files to Process]
input_file_0 = str100.wav
input_file_1 =

[Metadata]
plot_info = Cart / Load / Record
equip_info = Arm -> Phonostage -> ADC

[Sweep Extraction]
extract_sweeps = true
save_sweeps = false
test_record = STR100

[Plot Parameters]
plot_style = 4
file0norm = false
end_f = 20000
onekfstart = false
normalize = 1000

[Audio Processing]
riaa_mode = 0
riaa_inverse = false
str100 = true
xg7001 = false

[For Geeks]
plot_data_out = false
log_level = info


; Definitions:
;
; input_file_0 =   The first (L) file to plot, or the only file to plot, or the file you want
;                  to extract sweeps from. 
; 
; input_file_1 =   The second (R) file to plot.  If using one file leave this blank.  If
;                  you're extracting sweeps, this parameter is ignored.
;                     
; plot_info =      Alpha-numeric entries separated by " / " only.  The script will save a
;                  PNG file that is named from the plot_info argument, replacing " / "
;                  with "_".  For example, "Cart / Load / Record" will create a file named
;                  "Cart_Load_Record.png".
; 					
; equip_info =     This argument is placed on the bottom left of the plot image to describe
;                  the capture chain.  The recommended format is "Arm -> Phonostage -> ADC".  
; 
; exract_sweeps =  false:	Do not process the file for extraction of sweeps
;                  true: 	Extract the sweeps from INPUT_FILE_0
; 
; save_sweeps =    false:  do not save files
;                  true:   the extract sweeps will be saved, appending either an "_L" or "_R"
;                          to the INPUT_FILE_0 filename for the left and right sweeps,
;                          respectively.
; 
; test_record =    If extracting sweeps, you must specify what test record the audio was captured
;                  from.  Supported records are STR100, TRS1007 (CA or JVC), and TRS1005. 
;                     
; plot_style =     1 - traditional
;                  2 - dual axis (twinx)
;                  3 - dual plot FR and distortion
;                  4 - dual plot FR zoom and dual axis (twinx)
;                  5 - small plot FR only
; 
; file0norm =      false:  normalize both files independently
;                  true:   normalize both files to file 0 level
; 
; end_f =          Highest frequency to plot in Hz.
; 
; onekfstart =     false:  disable
;                  true:   start plot from 1kHz
; 
; normalize =      Frequency in Hz to set as 0dB in the plot
; 
; riaa_mode =      0 - off
;                  1 - bass emphasis
;                  2 - treble de-emphasis
;                  3 - both
; 
; riaa_inverse =   false:  disable
;                  true:   inverse RIAA EQ per riaamode setting
; 
; str100 =         false:  disable
;                  true:   enable 6dB/oct correction from 500Hz to 40Hz
; 
; xg7001 =         false:  disable
;                  true:   custom bass filter for Denon XG-7001 sweep (@stereoplay filter)
; 
; plot_data_out =  false:  disable
;                  true:   output the plot data to console
; 					
; log_level =      info:   standard logging level
;                  debug:  verbose logging intended for debugging issues
